* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#main > div {
height: 200px;
width: 200px;
background-color: #808080;
border: 2px dotted red;
position: relative;

}
#head {
    height: ;
}

/* for tab */
@media (min-width: 768px) and (max-width:900px) {
#main {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}
/* for mobile */
@media (max-width: 780px) {}